.hero-cont{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url(/2.jpg) no-repeat center center/cover ;
    width: 100%;
    height: 50vh;
}
.home-clothes-displayed{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.home-clothes-img{
    width:100px;
    flex: 0 0 calc(30% -20px);
}
