/* Nav Design */
@font-face {
    font-family:"Gunko";
    src: url("/fonts/GunkoStreet-Regular.ttf");
}
.company-name{
    font-family: "Gunko", sans-serif;
    font-size: 1.5rem;
}

/* Hero */
.hero-cont{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url(/2.jpg) no-repeat center center/cover ;
    width: 100%;
    height: 50vh;
}

.home-clothes-displayed{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0px;
    /* border:1px solid magenta; */
    justify-content: center;
}
.home-clothes-img{
    width:100px;
    flex: 0 0 calc(40% );
}
.home-clothes-img img{
    width: 100%;
}
.nav-tab-below{
    display: flex;
    width: 70%;
    max-width: 700px;

    justify-content: space-between;
    border: 1px solid black;
    background-color: black;
    color: white;
    padding: 0px 5px;
    border-radius: 18px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 900;
}
/* .nav-tab-below{
    display: flex;
    width: 100%;
    max-width: 700px;
    justify-content: space-between;
    border: 1px solid black;
    background-color: black;
    color: white;
    padding: 10px 10px;
    border-radius: 18px;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;

    z-index: 9999;

    /* 👇 THIS is the key mobile fix */
    /* padding-bottom: calc(10px + env(safe-area-inset-bottom));
} */ 
