.app-cont{
    padding-bottom: 50px;
}
/* Nav Design */
@font-face {
    font-family:"Gunko";
    src: url("/fonts/Grandover.ttf");
}
.nav-container{
    height:60px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    z-index:1000
}
.nav-cont{
    width:100%;
    height:55px;
    padding:0px 5px 0px 20px ;
    background-color:#fff;
    position:fixed;
    z-index:1000 
}
.nav-con{
    width:98%;
    display:flex;
    justify-content:space-between;
    /* align-items:last baseline; */
}
.nav-cont svg{
    margin: 10px 0 0 0;
}
.company-name{
    font-family: "Gunko", sans-serif;
    font-size: 1.9rem;
    letter-spacing: 1px;
    height: fit-content;
    margin: 0px 0 0 0;
}
.cart-svg{
    width:35px;
    height:35px;
    margin-right:20px; 
    
}
.cart-svg-notif{
    width:22px;
    height:22px;
    border-radius:50%;
    background:#FF0000;
    position:absolute;
    top:7%;
    left:41%;
    text-align:center;
    padding-top:1px;
    padding-left:2px;
    font-size:0.9rem;
    font-weight:600;
    color:#fff
}
/* Hero */
.hero-cont{
    width: 100%;
    height: 55vh;
}

.home-clothes-displayed{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: -10px 0px 20px 0px;
    justify-content:center;
}
.home-clothes-img{
    min-width: 160px;
    flex: 0 0 calc(40%);
    position: relative;
}
.home-clothes-img img{
    width:160px;
}
.sliding-images{
    height:55vh; 
    width:100%;
}
/* Breif Styling */
.breif-cont{
    position:relative;
    width:100%;
    z-index:3;
    padding:0px 0px 0px 0px;
}
.breif-heading{
    padding:0px 0px 0px 13px;
    font-size:1.5rem;
    font-weight:400;
    letter-spacing:1px;
    font-family: Boldonse, "system-ui";
}
.cart-svg-img{
    background-color:#000;
    padding:10px;
    border-radius:50%;
    position:absolute;
    top:50%;
    left:68%;
}
.product-name-breif{
    margin:0px 0px 0px 0px;
    font-weight:500;
    font-size:1.2rem
}
.product-price-breif{
    margin:0px 0px 0px 0px;
    font-size:1.3rem;
    letter-spacing:0.7px
}
.more-bar{
    color:#fff;
    background-color:#000;
    display:block;
    margin:0 auto;
    width:70%;
    height:60px;
    text-align:center;
    padding:7px;
    margin-top:10px;
    border-radius:10px
}
.more-bar p{
    margin-top:10px
}
/* Reviews */
.review-cont{
    padding: 10px 20px 25px 20px;
    background-color: #f8f8f8
}
.review-header-cont{
    text-align: center;
    margin-bottom: 50px
}
.testimonial-header{
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 10px;   
}
.header-2{
    color: #555;
    max-width: 600px;
    margin: 15px auto -20px;
    line-height: 1.7;
    font-size: 1rem; 
}
.testimonials-cont{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    gap: 25px;
    align-items: stretch;
}
.main-testimonial{
    background: #fff;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
    transition: 0.3s ease;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.star-cont{
    display: flex;
    margin-bottom: 0px;
    color: #ffb400;
}
.review{
    color: #444;
    line-height: 1.8;
    font-size: 0.98rem;
    margin-bottom: 25px;

}
.avatar-cont{
    display: flex;
    align-items: center;
}
.avatar-p{
    margin-left: 12px 
}
/* Shop */
.shop-cont{
    padding: 0;
}
.shop-main-title{
    font-size:2rem;
    margin-top:10px;
    padding:0px 20px 0px 20px;
    font-weight:400;
    margin-bottom:0;
    font-family:Boldonse, system-ui
}
.shop-name{
    text-align:center;
    font-size:1.5rem;
    font-weight:500;
}
.shop-category{
    font-size:1.5rem;
    text-align:center;
    font-weight:500;
    margin:5px 0 0 0 
}
.shop-direction{
    font-size:1.4rem;
    text-align:center;
    font-weight:500;
    margin:20px 0 25px 0 
}
    /* Shop Main */
.home-clothes-displayed-shop{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: -10px 0px 20px 0px;
    justify-content:center;
}
.home-clothes-img-shop{
    min-width: 160px;
    flex: 0 0 calc(40%);
    position: relative;
}
.home-clothes-img-shop img{
    width:160px;
}
.shop-main-img{
    width:100%;
    height:185px;
    object-fit: cover;
    z-index:3;
    margin:0 0;
    box-shadow:rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px
}    
.shop-main-p{
    font-size:1.5rem;
    margin:0 0;
    font-weight:500;
    font-family: Roboto, sans-serif
}
    /* Pull Product */
.pull-product-img{
    width:100%;
    max-width:165px;
    height:185px;
    object-fit: cover;
    z-index:3;
    box-shadow:rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px 
}
.pull-product-p{
    margin:0px 0px 0px 0px;
    font-size:1.3rem;
    letter-spacing:0.7px
}
/* Footer */
.footer-cont{
    font-size:1.5rem;
    padding:10px 0px;
    margin-top:10px;
    width:100%
}
/* Admin Styling */
.input-bar-admin:focus{
    outline: none;
}
.input-bar-admin::placeholder{
    color:rgb(95, 94, 94)
}

/* Product Description */
.prod-desc-cont{
    width:90%;
    display:block;
    margin:0 auto;
    position:relative
}
.prod-desc-img{
    height:50vh;
    width:100%;
    display:block;
    margin:0 auto
}
.prod-desc-name{
    font-size:1.5rem;
    font-weight:500;
    margin:10px 0 0 0
}
.prod-desc-arrow{
    border:1px solid black;
    border-radius: 50%;
    padding:5px;
    margin-left:30px;
    cursor:pointer
}
/* Media query for laptop */
@media screen and (min-width: 850px ){
    .app-cont{
        padding-bottom: 0;
    }
    /* Nav */
    .nav-con{
        width:95%;
        display:flex;
        justify-content:space-evenly;
        align-items:last baseline;
    }
    .nav-cont svg{
        margin: 0px 0 -5px 0;
    }
    .cart-svg-notif{
        width:18px;
        height:18px;
        border-radius:50%;
        top:-11%;
        left:53%;
        padding-top:1px;
        padding-left:0px;
        font-size:0.8rem;
    }
    .nav-links{
        width: 60%;
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: end;
    }
    .nav-links .link{
        position: relative;
        text-decoration: none;
        color: black;
        font-size: 1.2rem;
        font-weight: 600;
        padding-bottom: 5px;
    }

    /* underline */
    .nav-links .link::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;

        width: 100%;
        height: 2px;

        background-color: black;

        transform: scaleX(0);
        transform-origin: left;

        transition: transform 0.3s ease;
    }

    /* hover effect */
    .nav-links .link:hover::after{
        transform: scaleX(1);
    }

    /* active page */
    .nav-links .link.active::after{
        transform: scaleX(1);
    }
    /* Hero Page */
    .hero-cont{
        height: 80vh;
        width: 80%;
        display: block;
        margin: 10px auto 0 auto;

    }

    .sliding-images{
        width: 100%;
        height: 70vh;       
        display: block;
        margin: 0 auto;
        object-fit: contain;
        object-position: top;
    }
    /* Breif */
    .breif-cont{
        display: block;
        width: 90%;
        margin:-10px auto 0 auto; 
    }
    .home-clothes-displayed{
        display: flex;
        width:100%;
        flex-wrap: wrap;
        gap: 10px;
        margin: -10px 0px 20px 0px;
        justify-content:center;
    }
    .home-clothes-img{
        min-width: 250px;
        font-size: 0.9rem;
        flex: 0 0 calc(20%);
        position: relative;
        display: block;
        margin-bottom: 5px;
    }
    .home-clothes-img img{
        object-fit: contain;
    }
    .cart-svg-img{
        left:45%;
        top: 55%;
    }
    .product-name-breif{
        font-size:1rem
    }
    .product-price-breif{
        font-size:0.9rem;
    }
    .more-bar{
        width:250px;
        height:50px;
        border-radius:18px
    }
    .more-bar p{
        margin-top:13px
    }
    /* Review */
    .testimonials-cont{
        grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
        gap: 50px;
        width: 83%;
        margin: 0 auto;
    }
    /* Footer */
    .footer-cont{
        padding:10px 0px 0px 0px;
    }
    
    /* Shop */
    .shop-cont{
        width:90%;
        margin: 0 auto;
    }
    .shop-main-title{
        padding-left:50px;
    }
    .shop-name{
        font-size: 1.8rem;
        margin-top: 8px;
    }
        /* Shop Main */
    .home-clothes-displayed-shop{
        width: 90%;
        margin: -10px auto 20px auto;
    }
    .home-clothes-img-shop{
        min-width: 0px;
        cursor: pointer;
    }
    .home-clothes-img-shop img{
        width: 100%;
        height: 400px;
    }
    .shop-main-img{
        margin:10px 0 7px 0;
        transition:
        transform 0.35s ease,
        filter 0.35s ease;
        transform: scale(1);
        will-change: transform;
    }    
    .shop-main-img:hover{
        transform: scale(1.05);
    }
        /* Pull Product */
    .shop-category{
        font-size: 1.8rem;
        margin:-10px 0 0 0 
    }
    .shop-direction{
        font-size: 1rem;
        margin:10px 0 25px 0 
    }
    .pull-product-img{
        max-width:400px;
        height:185px;
    }
    .pull-product-p{
        font-size:1.2rem;
        letter-spacing: -0.2px;
    }
    /* Product Description */
    .shop-direction-products{
        cursor: pointer;
    }
    .shop-direction-products:hover{
        color: #444;
    }
    .prod-desc-cont{
        width: 85%;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
        align-items: center;
    }
    .prod-desc-img-cont{
        width: 90%;
    }
    .prod-desc-img{
        height: 70vh;
    }
    .prod-desc-content-cont{
        width: 70%;;
    }  
    .prod-desc-arrow{
        margin-left:50px;
        cursor:pointer;
    }
    .prod-desc-arrow:hover{
        fill:#444;
        border:1px solid #444;
    }
}